<section>
    <div>
        <h1>Currency rate NBU for today</h1>
    </div>
    <div *ngIf="!isDataLoading">
        <table mat-table [dataSource]="currensyList">
            <ng-container cdkColumnDef="txt">
                <th cdk-header-cell *cdkHeaderCellDef>Назва валюти</th>
                <td cdk-cell *cdkCellDef="let row"> {{row.txt}} </td>
                <td cdk-footer-cell *cdkFooterCellDef> User name </td>
            </ng-container>
        </table>
        </div*ngIf="!isDataLoading">
</section>